<div class="alignleft">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
</div>  
<a href="https://www.upyun.com/" style="float:right;"><img src="http://upfiles.b0.upaiyun.com/logo/90x45.png" alt="UPYUN"></a>

<div class="clearfix"></div>
<div style="display: none;" id="rocket-to-top">
<div style="opacity:0;display: block;" class="level-2"></div>
<div class="level-3"></div>
</div>