<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://ued.taobao.com/blog/" title="taobao ued blog" target="_blank">TaobaoUED</a></li>
<li><a href="http://m.popued.com/" title="POP社区" target="_blank">POP社区</a></li>
<li><a href="http://www.huangang.net/" title="huangang's Blog" target="_blank">宦港'secretbase</a></li>
<li><a href="https://2dm.org/" title="2dm" target="_blank">2分米</a></li>
</ul>
</div>